body {
    font-family: cursive;
    background: orange;
    margin: 0;
    padding: 0;
}

header {
    background: yellow;
    color: blue;
    padding: 15px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    margin-top: 10px;
}

nav a , nav button.logout {
    color: red;
    text-decoration: none;
    margin: 0 10px;
    padding: 6px 12px;
    border-radius: 5px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: pointer;
    transition: 0.5s;
}

nav a:hover, nav button.logout:hover {
    background: rgba(255,255,255,0.2)
}

nav a.active {
    background: black;
}

main {
    width: 90%;
    max-width: 500px;
    margin: 30px auto;
}

form {
    background: yellow;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

form input, form textarea, form select, form button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 14px;
}

form textarea {
    resize: vertical;
}

form button {
    background: blue;
    color: yellow;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

form button:hover {
    background: black;
}

.filters {
    text-align: center;
    margin-bottom: 20px;
}

.filters button {
    margin: 0 5px;
    padding: 10px 20px;
    border: none;
    background: yellow;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.filters button:hover {
    background: yellow;
}

.filters button.active {
    background: yellow;
    color: black;
}

.posts {
    display: grid;
    gap: 20px;
}

.post {
    background: yellow;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.post img {
    max-width: 100%;
    border-radius: 10px;
}

.post h3 {
    margin: 10px 0;
}

.post small {
    display: block;
    margin-bottom: 10px;
    color: black;
}

.badge {
    display: inline-block;
    padding: 3px 8px;
    border-radius: 5px;
    font-size: 12px;
    color: red;
}

.private{
    background:red
}

.public {
    background: red;
}

.about {
    background: yellow;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.about h2 {
    margin-top: 20px;
}

p {
    font-size: 14px;
    color: black;
}


